<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.wavestone.com/de/" target="_blank">
        <img src="/assets/wavestone.png" alt="logo">
        <h1>TPI Next Assesment</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Stakeholderbeziehung" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/engagement">Engagement der Stakeholder</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/participation">Grad der Beteiligung</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teststrategy">Teststrategie</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testorganisation">Testorganisation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/communication">Kommunikation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/reporting">Berichterstattung</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Testmanagement" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testprocessmanagement">Testprozessmanagement</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/planning">Kostenschätzung und Planung</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/metrics">Metriken</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/defectmanagement">Fehlermanagement</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testwaremanagement">Testwaremanagement</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Testkompetenz" nzIcon="experiment">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/methodical-approach">Methodisches Vorgehen</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/professionalism">Professionalität der Tester</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testdesign">Testfalldesign</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tools">Testwerkzeuge</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/environment">Testumgebung</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
