<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://qperior.sharepoint.com/sites/TestManagement-Community?OR=Teams-HL&CT=1731574649318&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiI0OS8yNDEwMjAwMTMxNiIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" target="_blank">
        <img src="/assets/wavestone.png" alt="logo">  
      </a>
      <a routerLink="/landing-page"><h1>TM-Assesment</h1></a>
    </div>
    
    <!-- Sprachumschaltung -->
    <div class="language-switcher">
      <button class="language-button" (click)="switchDE()">
        <img src="/assets/flags/germany.png" alt="Deutsch" class="flag-icon">
      </button>
      <button class="language-button" (click)="switchEN()">
        <img src="/assets/flags/uk.png" alt="English" class="flag-icon">
      </button>
      <button class="language-button" (click)="switchFR()">
        <img src="/assets/flags/france.png" alt="Français" class="flag-icon">
      </button>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen [nzTitle]="'component.steakholderrelationship' | translate" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/engagement" translate="component.engagement"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/participation" translate="component.participation"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/teststrategy" translate="component.teststrategy"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testorganisation" translate="component.testorganisation"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/communication" translate="component.communication"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/reporting" translate="component.reporting"></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen [nzTitle]="'component.testmanagement' | translate" nzIcon="bar-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testprocessmanagement" translate="component.testprocessmanagement"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/planning" translate="component.planning"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/metrics" translate="component.metrics"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/defectmanagement" translate="component.defectmanagement"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testwaremanagement" translate="component.testwaremanagement"></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen [nzTitle]="'component.testcompetence' | translate" nzIcon="experiment">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/methodical-approach" translate="component.methodicalapproach"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/professionalism" translate="component.professionalism"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/testdesign" translate="component.testdesign"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tools" translate="component.tools"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/environment" translate="component.environment"></a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen [nzTitle]="'component.evaluation' | translate" nzIcon="project"> 
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/diagramm" translate="component.diagram"></a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#" translate="component.export"></a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
            </span>
        </span>

<!--        <div class="profile-icon" nz-dropdown [nzDropdownMenu]="profileMenu" nzTrigger="click">
          <img src="/assets/profile.png" alt="Profil" class="profile-image"/>
        </div>
        <nz-dropdown-menu #profileMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a routerLink="/profile">Profil ansehen</a>
            </li>
            <li nz-menu-item>
              <a (click)="onLogout()">Abmelden</a>
            </li>
          </ul>
        </nz-dropdown-menu>
-->
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
