<div class="container" *ngIf="ratingForm">
      <h2>{{ 'assets.engagement.title' | translate }}</h2>
      <h3>{{ 'assets.engagement.subtitle' | translate }}</h3>
      <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'assets.global.header1' | translate }}</th>
            <th>{{ 'assets.global.header2' | translate }}</th>
            <th>{{ 'assets.global.header3' | translate }}</th>
            <th>{{ 'assets.global.header4' | translate }}</th>
            <th>{{ 'assets.global.header5' | translate }}</th>
            <th>{{ 'assets.global.header6' | translate }}</th>
            <th>{{ 'assets.global.header7' | translate }}</th>
            <th>{{ 'assets.global.header8' | translate }}</th>
            <th>{{ 'assets.global.header9' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let question of questions; let i = index">
            <tr *ngIf="question.question !== 'max'">
              <td>{{ question.question | translate }}</td>
              <td>{{ question.help | translate }}</td>
              <td>{{ question.artifact | translate }}</td>
              <td>
                <!-- Dropdown for the rating -->
                <select formControlName="rating{{ i }}">
                  <option *ngFor="let option of ratingOptions" [value]="option.value">
                    {{ option.label | translate }}
                  </option>
                </select>
              </td>
              <td>{{ question.yourValue }}</td>
              <td>{{ question.weight }}</td>
              <td><input formControlName="findings{{ i }}" type="text"></td>
              <td><input formControlName="measures{{ i }}" type="text"></td>
              <td><input formControlName="interviewPartner{{ i }}" type="text"></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <button type="submit">{{ 'assets.global.save' | translate }}</button>
    </form>
  </div>
  