/* .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-wrapper {
    display: flex;
    padding-top: 50px; 
  }
  
  .image-container {
    flex: 1;
    text-align: right;
  }

  .image-wrapper {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .separator {
    width: 10px;
    height: 100%; /* Passe die Höhe an, wenn nötig 
    background-color: #202020; /* Passe die Farbe an 
  }
  
  .text-container {
    flex: 1;
    padding-top: 20px;
    padding-left: 20px; /* Passe den Abstand zum Text an 
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  } 
*/