<div>
    <h1>{{ greeting }}</h1>
    </div>
    <section class="introduction">
        <div class="container">
          <div class="content-wrapper">
            <div class="container">
                <img class="image-wrapper" src="/assets/testprozess.png" alt="Ein Tester, der an einem Computer arbeitet">
            </div>
            <div class="separator"></div>
            <div class="container">
              <h2>Optimiere deinen Testprozess mit Wavestone Next</h2>
              <p>
                Du suchst nach einer Methode, um die Qualität deiner Software systematisch zu verbessern? Unser TPI Next-basierter Fragenkatalog ist dein perfektes Werkzeug, um den Testprozess eines belibigen Projekts zu bewerten und zu optimieren.
              </p>
              <p>
                TPI Next ist weltweit bekannt für seine solide Methode, die Reife von Testprozessen zu messen. Mit unserem Fragenkatalog kannst du jeden Bereich deines Testprozesses ganz genau unter die Lupe nehmen – von der Teststrategie bis zur Auswertung.
              </p>
              <h3>Deine Vorteile auf einen Blick:</h3>
              <ul>
                <li>Finde versteckte Potenziale in deinem Testprozess.</li>
                <li>Arbeite effizienter und spare Zeit.</li>
                <li>Erhöhe die Qualität deiner Software.</li>
              </ul>
              <p>
                <strong>Starte jetzt durch und mache deinen Testprozess fit für die Zukunft!</strong>
              </p>
            </div>
          </div>
        </div>
      </section>