<div class="container">
  <h2>Kommunikation</h2>
  <h3>Gezielte und transparente Informationsweitergabe fördert ein gemeinsames Verständnis und abgestimmte Erwartungshaltungen aller im Test beteiligten Personen</h3>
  
  <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
    <table class="table">
      <thead>
        <tr>
          <th>Bewertungsfragen</th>
          <th>Hilfsfragen</th>
          <th>Liefergegenstände</th>
          <th>Bewertung</th>
          <th>Ihr Wert</th>
          <th>Gewichtung</th>
          <th>Findings</th>
          <th>Maßnahmen</th>
          <th>Interviewpartner</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let question of questions; let i = index">
          <tr *ngIf="question.question !== 'max'">
            <td>{{ question.question | translate }}</td>
            <td>{{ question.help | translate }}</td>
            <td>{{ question.artifact | translate }}</td>
          
            <td>
              <!-- Dropdown for the rating -->
              <select formControlName="rating{{ i }}">
                <option *ngFor="let option of ratingOptions" [value]="option">
                  {{ option | translate }}
                </option>
              </select>
            </td>
                    
            <td>{{ question.yourValue }}</td>
            <td>{{ question.weight }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-container>  
      </tbody>
    </table>
    
    <button type="submit">Speichern</button>
  </form>
</div>
